<h2>Puppers!</h2>

{{#each puppys}}
<div class="pups">
    <p>Name: {{title}}</p>
    <p>Breed: {{breed}}</p>
    <p>Favorite Toy: {{favoritetoy}}</p>
    <div class="buttonz">
        <a href="/puppys/edit/{{id}}">Edit puppy</a>
        <form action="/puppys/{{id}}?_method=delete" method="POST">
            <input type="submit" value="Remove puppy">
        </form>
    </div>
</div>
<br>{{/each}}